$fonPoppins: Poppins, BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
$fonNunitoSans: Nunito Sans, BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

@mixin fon ($fontFamily, $fontSize, $color){
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $color;
}
@mixin fonBold ($fontFamily, $fontSize, $color){
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $color;
  font-weight: bold;
}