header .header-menu-button{
  margin: 0px 20px;
  padding: 13px 40px;
  border: none;
  font-weight: bold;
  border-radius: 0;
}
header .container .header-nav-hover:hover{
  color: $textRed !important;

}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  text-indent: -999px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0);
}