$textRed: #FF0000; //красный заголовок
$texVeryDrGray: #707070; //Параграф
$sineGoluboy: #172541; //Заголовки
$textblack: #000000; //чорный цвет для текста

$bgWhite: #FFFFFF; //белый цвет на фон иконок