$textRed: #FF0000; //красный заголовок
$texVeryDrGray: #707070; //серый Параграф
$sineGoluboy: #172541; //Заголовки
$textblack: #000000; //чёрный цвет для текста
$textWhite: #FFFFFF; //белый цвет

$bgWhite: #FFFFFF; //белый цвет на фон иконок
$bgButton: #FF0000; //цвет кнопки