@import "../main-parts/text-color";

.news .container {
  font-family: Poppins, sans-serif;

  h1 {
    font-weight: bold;
    padding: 25px;
  }

  .single-article {
    background-color: #FFFFFF;
    margin: 0 0 90px;
    padding-right: 0;

    div > a.category {
      background-color: #ca0523;
      color: #fff;
      margin: 15px 10px 10px 0;
      text-align: center;
      height: 22px;
      display: inline-block;
      font-size: 0.8rem;
      font-weight: bold;

      &:hover {
        background-color: #fff;
        color: #ca0523;
        text-decoration: none;
        border: solid 1px #ca0523;
      }
    }

    .info-time {
      color: $texVeryDrGray;
    }

    i {
      margin-right: 10px;
    }

    span {
      font-size: 1rem;
    }

    p {
      font-weight: bold;
      overflow: hidden;
      display: block;
      max-height: 150px;
      min-height: 100px;
    }

    .btn {
      position: absolute;
      bottom: 10px;
      padding-left: 0;

      span {
        color: $bgIconDon;
        margin-right: 10px;

        &:hover {
          color: #ca0523;
        }
      }
    }

    ul {
      position: absolute;
      list-style: none;
      left: 41%;
      top: 20%;
      z-index: 10;

      li {
        margin: 15px 0;

        a {
          border-radius: 50%;
          box-shadow: 0 0 10px 1px #4e555b;
          background-color: #FFFFFF;
          width: 25px;
          height: 25px;
          display: block;
          text-align: center;

          em {
            color: #ca0523;
          }
        }
      }
    }


    .img-news {
      padding: 0;
      border: solid 1px $bgIconDon;

      img {
        height: 285px;
        width: auto;
        overflow: hidden;
        margin: 0 auto;
        display: block;
      }
    }

    @media (max-width: 992px) {
      flex-direction: row-reverse;
      p {
        max-height: 100px;
      }
      .btn {
        position: relative;
      }
      ul {
        position: static;
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0;
        padding: 0;

        li {
          margin: 15px 15px;
        }
      }
      .img-news img {
        width: 100%;
        height: auto;
      }
    }
  }

  .pagination {
    justify-content: center;
    padding-bottom: 90px;
    margin: 0;

    li {
      margin: 0 5px;
      width: 40px;
      text-align: center;

      i, a {
        color: #ca0523;
        border-color: #ca0523;
        border-radius: 0;
        font-weight: bold;

        &:hover {
          background-color: #CA0523;
          color: #FFFFFF;
        }
      }
    }

    .active {
      i, a {
        background-color: #CA0523;
        color: #FFFFFF;
      }
    }
  }
}



