@mixin overlay{
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
  }
  &:hover{
    &:before{
      background-color: rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
    }
  }
}

.nav-category{
  padding: 20px 0;
  color: $texVeryDrGray;
  a{
    color: $texVeryDrGray;
  }
  a.active{
    color: $bgIconDon;
  }
  @include hover-link;
}
.news .container{
  .article{
    .img-news{
      max-width: 100%;
      width: 100%;
      margin-bottom: 20px;
    }

    h2{
      @include fonBold ($fonPoppins, 2rem, $textblack)
    }
    .info-time{
      color: $texVeryDrGray;
      margin-top: 10px;
      margin-bottom: 20px;
      i{
        margin-right: 10px;
      }
    }
    p{
      @include fon ($fonNunitoSans, 1.2rem, $texVeryDrGray);
      margin-bottom: 2rem;
    }
    padding-bottom: 100px;
  }
  .next-news{
    .title-news{
      color: $textblack;
      &:hover {
      color: #ca0523;
      text-decoration: none;
    }
      h5{
      font-weight: bold;
      margin-top: 10px;
      font-size: 0.9rem;
      }

    }
    margin-bottom: 10px;
    border-bottom: 2px solid $texVeryDrGray;
    .with-overlay{
      @include overlay;
    }
    }
  }
