.section-projects {
  .container {
    text-align: center;
    padding-top: 50px;

    h2 {
      line-height: 3rem;
      font-weight: bold;
    }

    .row {
      background-color: #FFFFFF;
      margin: 30px auto;

      div {
        text-align: left;

        img {
          box-shadow: 0 0 10px 1px #4e555b;
        }

        a h2 {
          color: $textblack;
          font-size: 1.8rem;

        }

        a:hover {
          text-decoration: none;

          h2 {
            color: #ca0523;
          }
        }

        p {
          overflow: hidden;
          display: block;
          max-height: 75px;
          min-height: 75px;
        }
      }
    }

    @media (max-width: 992px) {
      .row {

        .btn {
          margin-bottom: 30px;
        }
      }
    }
  }
}