.forms-volunteer {
  .container {
    h3 {
      @include fonBold($fonPoppins, 30px, $sineGoluboy);
      padding-top: 48px;
      margin-bottom: 28px;
    }

    .forms-volunteer-content {
      background: #ffffff;
      padding-left: 23px;
      margin-bottom: 90px;
      .forms-volunteer__data {
        margin-top: 40px;
        margin-bottom: 43px;

        .form-control {
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
          border-radius: 15px;
          margin-bottom: 9px;
        }

        label {
          @include fonBold($fonPoppins, 20px, $sineGoluboy);
          margin-left: 10px;
          margin-bottom: 0px;
          text-shadow: 0px 3px 6px rgba(23, 37, 65, 0.16);
        }
      }

      .forms-volunteer__img {
        h5 {
          @include fonBold($fonPoppins, 20px, $sineGoluboy);
          margin-top: 50px;
          margin-bottom: 3px;
          text-shadow: 0px 3px 6px rgba(23, 37, 65, 0.16);
        }
        img {
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.16);
        }
        //стили для страницы "Контакты"
        .forms-img__contacts {
          margin-top: 68px;
        }
      }

      .forms-volunteer__check {
        margin: 43px 0px;
        label {
          @include fon($fonNunitoSans, 14px, $sineGoluboy);
        }

      }

      a {
        background: $bgButton;
        margin-bottom: 60px;

        &:hover {
          background: #000000;
          color: #ffffff;
        }
      }
    }
  }
}