.steps-to-volunteer .steps {
  padding: 30px 0;
  font-family: Poppins, sans-serif;
  .row{
    padding: 30px 0;

  }
  em {
    border-radius: 50%;
    background-color: red;
    width: 35px;
    height: 35px;
    line-height: 2.8rem;
  }
}
.Vacancies .row{
  margin: 30px 0;
  background-color: #FFFFFF;
  h2{
    margin: 30px auto;
  }
  p{
    margin: 30px auto;
  }
}