//параметры кнопки
.button-all {
  padding: 13px 40px;
  border: none;
  font-weight: bold;
  border-radius: 0;
}
header{
  .container{
    .navbar{
      .collapse{
        .header-nav-hover:hover{
          color: $textRed !important;
        }
        button{
          margin: 0px 20px;
        }
      }
    }
  }
}