//параметры кнопки
.button-all {
  padding: 13px 40px;
  border: none;
  font-weight: bold;
  border-radius: 0;
  font-size: 16px;
  font-family: $fonNunitoSans;
}
section {
  background: #F3F5F7;
}
.header-contact {
  color: #707070;
  font-size: 14px;
  span {
    font-weight: bold;
  }

  i {
    margin: 17px 8px;
  }
  a {
    color: #707070;
    text-decoration: none;
  }
}
header{
  background: #ffffff;
  .container{
    .navbar{
      .collapse{
        .header-nav-hover:hover{
          color: $textRed !important;
        }
        a{
          margin: 0px 20px;
        }
        @include media-breakpoint-down(sm) {
          a {
            width: 100%;
            margin: 10px 0px;
          }
        }
        @include media-breakpoint-only(md) {
          a {
            width: 100%;
            margin: 10px 0px;
          }
        }
      }
    }
  }
}