.lightbox {

  z-index: 999;
  width: 100%;
  text-align: center;
  background-color: #ffff;
  display: flex;
  flex-wrap: wrap;

  .lightbox img {

    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
  }

  img:hover {
    filter: drop-shadow(4px 4px 6px gray);
    transform: scale(1.1);
  }
}

