.fund-helps {
  font-family: 'Poppins', sans-serif;
  background-color: #F3F5F7;

  .steps-helps {
    text-align: center;

    .row {
      margin: 50px auto;
    }

    .card {
      height: 305px;
      padding: 30px 10px;
      box-shadow: 0 7px 25px -10px;

      h1 {
        font-weight: bolder;
      }

      h5 {
        position: center;
      }

      p {
        text-align: left;
      }
    }

    .carousel-control-next {
      position: static;
      opacity: 1;
    }
  }
}
