.best-gallery {
  background-color: #ffff;
  margin-top: 120px;


  h2 {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }

  p {
    overflow: hidden;
    height: 50px;
    text-align: center;
    margin-top: 20px;
  }

}

.span-gallery {
  display: flex;
  flex-wrap: wrap;
  size: 130px;

  .badge-pill:first-child {
    color: #ffff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
  }

  .badge-pill {
    height: 40px;
    width: 80px;
    padding-top: 12px;
    margin-left: 25px;

  }

}
//Add proper classes
.card-img{
  margin-top: 30px;

}
