.section-carousel {
  .container {
    .section-carousel-indicators {
      right: 58%;
      bottom: 15%;
      margin: 0;
    }

    @include media-breakpoint-down(sm) {
      .section-carousel-indicators {
        right: 20%;
        bottom: 18%;
      }
      .section-carousel-indicators li {
        margin-right: 20px;
      }
    }

    .section-carousel-indicators {
      li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        text-indent: -999px;
        border: 1px solid #fff;
        border-radius: 10px;
        cursor: pointer;
        background-color: #000;
        background-color: rgba(0, 0, 0, 0);
      }

      .active {
        background-color: #fff;
      }
    }

    .carousel-inner {
      .active {
        display: flex;
        align-content: center;
        align-items: center;
      }

      .carousel-item {
        transition: none;
        min-height: 450px;
        max-height: 450px;

        .carousel-block {
          width: 40%;
          height: 90%;
          background: $red;
          position: absolute;
          z-index: 10;
          top: 5%;
          left: 3%;
          overflow: hidden;
          color: #ffffff;

          h2 {
            font-size: 0.6rem;
            margin: 23px 20px;
          }

          p {
            font-size: 0.4rem;
            margin: 23px 20px;
          }
        }

        @include media-breakpoint-down(sm) {
          .carousel-block {
            width: 90%;

            h2 {
              font-size: 1.5rem;
            }

            p {
              font-size: 0.8rem;
            }
          }
        }
        @include media-breakpoint-up(md) {
          .carousel-block {
            width: 80%;

            h2 {
              font-size: 1.8rem;
            }

            p {
              font-size: 1rem;
            }
          }
        }
        @include media-breakpoint-up(lg) {
          .carousel-block {
            width: 40%;

            h2 {
              font-size: 2rem;
            }

            p {
              font-size: 1rem;
            }
          }
        }
      }

    }

    .section-carousel-next {
      top: 84%;
      left: 47%;
      width: 30px;
      height: 30px;
      background: $red;
      border-radius: 50%;
      margin-left: 2%;
      z-index: 20;
    }

    .section-carousel-prev {
      top: 84%;
      left: 44%;
      width: 30px;
      height: 30px;
      background: $red;
      border-radius: 50%;
      z-index: 20;
    }

    .section-carousel-control-icon {
      width: 60%;
      height: 60%;
    }

  }
}

@include media-breakpoint-down(sm) {
  .section-carousel-indicators {
    li {
      margin-right: 20px !important;
    }
  }
  .carousel-block {
    left: 5% !important;
  }
}