.section-volunteer{
  background-size: cover;
  background-repeat: no-repeat;
    .section-volunteer-content {
      h4 {
        @include fonBold($fonPoppins, 30px, $textWhite);
        margin-top: 120px;
      }
      h1 {
        @include fonBold($fonPoppins, 60px, $textWhite);
        margin-bottom: 90px;
      }
      p {
        @include fon($fonNunitoSans, 18px, $textWhite);
        margin-top: 120px;
      }
      a {
        background: $bgWhite;
        color: $textRed;
        margin: 60px 0px 120px 0px;
        &:hover {
          background: #FF0000;
          color: #ffffff;
        }
      }
    }
}