.contact-us {
  background-color: #fff;
  height: 681px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 50%;

  h6 {
    @include fon($fonPoppins, 16px, #1D252D);
    padding-top: 65px;
    padding-bottom: 30px;
  }

  h3 {
    @include fonBold($fonPoppins, 40px, #1D252D);
  }

  .line {

    border-bottom: 3px solid #ED4266;
    width: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
  }
  .needs-validation{
    padding-right: 95px;

    input {
      width: 80%;
      padding: 25px 0;
      @include fon($fonPoppins, 14px, $sineGoluboy);
      border-left: none;
      border-color: #EBECED;
      border-radius: 0;
      border-width: 2px;
    }
   .input-group-prepend label{
        background-color: #ffff;
        border-color: #EBECED;
        border-radius: 0;
        border-width: 2px;
        border-right: none;
      }
textarea .form-control{
  border: 2px;
  border-color: #EBECED;
  border-radius: 0;
}


  .btn{
    margin-top: 50px;
  }
  }



}








